﻿body {
    background: #f7f7f7;
}

.login-container {
    display: flex;
    background: url('../images/loginbg.png');
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.form-container {
    width: 600px;
    background: #fff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-heading {
    font-size: 45px;
    font-weight: bold;
    color: #10497e;
    padding-top: 20px;
    padding-bottom: 10px
}

.login-container p,
.login-container p a {
    color: #00274d;
}

.login-container .form-control.custom {
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    padding: 0px;
    color: #000;
}

.login-container label {
    color: #717171;
}

.btn-login {
    background: linear-gradient(-90deg, #cc242c, #962328);
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

    .btn-login:hover {
        background: linear-gradient(-90deg, #962328, #cc242c);
    }

.forget-text {
    color: #10497e;
    font-weight: 500;
}

.social-links a {
    color: #1ca3db
}

    .social-links a:hover {
        color: #007bff;
    }


/* -----------------------css for Dashboard--------------------- */

a:hover,
a:active,
a:focus {
    color: initial;
    text-decoration: none;
}

.welcome-text {
    display: block;
    padding-top: 8px;
    color: #00558c;
}

.logout-text {
    color: #ff6004 !important;
}

.main-heading {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    /* color: #00558c; */
    color: #000;
    margin-bottom: 15px;
    margin-top: 14px;
}

nav.bg-custom {
    background: #ffffff;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.navbar-nav {
    flex-direction: row;
}

a.navbar-brand {
    margin-right: 3px;
    margin-left: 80px;
}

.icon-bar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ff6004;
    color: #fff;
    text-align: center;
    padding-top: 14px;
    font-size: 21px;
}

    .icon-bar:hover {
        color: #fff;
    }

.custom-right-nav li:not(:last-child) {
    /* border-right: solid 1px #ccc; */
    padding: 0px 11px 0px 11px;
}

.custom-right-nav li:last-child {
    padding: 0px 11px 0px 11px;
}

sidebar {
    width: 230px;
    display: flex;
    height: calc(100% - 85px);
    background: #1569b5;
    position: fixed;
    top: 107px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    left: 0;
}

.toggled sidebar {
    left: -290px;
}

sidebar ul li a.heading {
    background: #fff;
}

sidebar ul,
sidebar ul li ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
}

    sidebar ul li ul li {
        margin: 16px 0px;
    }

        sidebar ul li ul li a:hover {
            color: #fff;
            text-decoration: none;
        }

    sidebar ul li a .fa-angle-down {
        float: right;
        margin-right: 18px;
        margin-top: 3px;
        font-size: 21px;
    }


/* ul li a .fa, ul li a .fas{
        font-weight: bold;
    } */

ul li ul li a .fa,
ul li ul li a .fas {
    padding-right: 20px;
}

sidebar ul li a .fa {
    width: 22px;
}

sidebar ul li a:hover {
    background: #1176b8;
    color: #fff;
}

sidebar ul li a.active {
    background: #1176b8;
    display: block;
    width: 100%;
    padding: 15px 10px;
    margin: 0px 0px 0px;
    border-radius: 0px;
    color: #fff;
    border-left: solid 4px #ff6004;
}

sidebar ul li a {
    display: block;
    padding: 15px 10px;
    margin: 10px 0px;
    border-radius: 0px;
    color: #fff;
}


/* sidebar submenu */

sidebar ul.sub-menu1 > a {
    margin: 0;
}

sidebar ul.sub-menu1 li {
    margin: 0;
}

    sidebar ul.sub-menu1 li a {
        background: #1076b8;
        padding: 5px 5px 5px 30px;
        margin: 0;
        font-size: 12px;
        transition: all 0.3s ease-in-out;
    }

        sidebar ul.sub-menu1 li a:hover {
            background: #fff;
            color: #1076b8;
        }

sidebar ul li.in-nav {
    margin-bottom: 0;
}

    sidebar ul li.in-nav > a {
        margin: 0;
    }

sidebar ul.sub-menu1 {
    display: none;
}

sidebar ul li.in-nav.open ul.sub-menu1 {
    display: block;
}


/* End Sidebar submenu */

.right-section {
    width: calc(100% - 270px);
    margin-left: 250px;
    /* background: #ffffff; */
    /* height: 248px; */
    margin-top: 74px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    z-index: 1;
}

.toggled .right-section {
    width: 100%;
    margin-left: 0px;
    padding: 15px;
}

.custom-select-custom {
    position: relative;
    font-family: Arial;
    color: #000000;
    border-top: solid 1px #a6a6a6;
}

    .custom-select-custom select {
        display: none;
        /*hide original SELECT element:*/
    }

.select-selected {
    background-color: #ffffff;
    color: #000000;
}


    /*style the arrow inside the select element:*/

    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #000 transparent transparent transparent;
    }


    /*point the arrow upwards when the select box is open (active):*/

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #000 transparent;
        top: 7px;
    }


/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #000000;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    border-bottom: solid 1px #a6a6a6;
    border-left: solid 1px #a6a6a6;
    border-right: solid 1px #a6a6a6;
}


/*style items (options):*/

.select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-top: solid 1px #a6a6a6;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(9, 78, 143, 1);
    color: #ffffff;
}

.custom-input-text {
    width: 25%;
    border-radius: 0px;
    height: 42px;
}

.w-40 {
    width: 40% !important;
}

.bg-red {
    background: #a21c23;
    float: left;
    width: 100%;
}

    .bg-red span.envelope {
        color: #dedede;
        display: inline-block;
        float: right;
        font-size: 52px;
    }

.bg-green {
    background: #55a508;
    float: left;
    width: 100%;
}

    .bg-green span.envelope {
        color: #dedede;
        display: inline-block;
        float: right;
        font-size: 52px;
    }

.bg-orange {
    background: #eb9b01;
    float: left;
    width: 100%;
}

    .bg-orange span.envelope {
        color: #dedede;
        display: inline-block;
        float: right;
        font-size: 52px;
    }

.bg-blue {
    background: #005597;
    float: left;
    width: 100%;
}

    .bg-blue span.envelope {
        color: #dedede;
        display: inline-block;
        float: right;
        font-size: 52px;
    }

.top-holders h2 {
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    padding-top: 17px;
    display: inline-block;
    float: left;
}

    .top-holders h2 span {
        font-size: 19px;
        font-weight: normal;
    }

.dataTables_filter label input {
    width: 300px;
    position: absolute;
    top: 0px;
}

.dataTables_filter label {
    width: 100%;
    margin-bottom: 25px;
}

.dataTables_filter {
    width: 300px;
    position: absolute;
    right: 26px;
    top: -52px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #ff6207;
    border-color: #ff6207;
    padding: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px;
    min-width: 35px;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
    padding: 0px;
    padding-top: 6px;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 0px;
    padding-top: 6px;
}

.page-item:last-child .page-link {
    padding: 0px 5px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.page-item:first-child .page-link {
    margin-left: 0;
    padding: 0px 5px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 6px;
    padding-right: 15px;
}

.dataTables_wrapper .dataTables_info {
    padding-left: 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent;
    border: solid 1px transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin: 0px;
    padding: 0px 4px;
}

.report-h2 {
    margin: 0px;
    padding: 20px 0px 20px 20px;
    color: #00558c;
    text-transform: uppercase;
    font-size: 24px;
}

.dataTables_filter .fa-search {
    z-index: 91;
    position: absolute;
    right: 4px;
    top: 7px;
    color: #ccc;
}

.search-btn {
    border-radius: 50px;
    padding: 6px 30px;
    background: #156ab6;
    border: solid 1px #156ab6;
    text-transform: uppercase;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 14px 10px;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 15px 18px;
    background: #a3a4b0;
    color: #fff;
    border-bottom: 0;
}

a.pay {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #ff6004;
    border-radius: 20px;
    min-width: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #ff6004;
    font-weight: 500;
}

    a.pay.grey {
        color: #9c9da8;
        display: inline-block;
        padding: 5px 10px;
        border: 2px solid #9c9da8;
        border-radius: 20px;
        min-width: 150px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500
    }

        a.pay.grey:hover {
            background: #ddd;
            color: #000;
            border-color: #000;
        }

    a.pay:hover {
        background: #ff6004;
        border-color: transparent;
        color: #fff;
    }

.action i.fa.fa-file-pdf-o {
    font-size: 22px;
    color: #00558c;
}

.action a,
.action a:hover {
    text-decoration: none;
}

.action .fa-eye {
    color: #c7c7c7;
}

    .action .fa-eye:hover {
        color: #000000;
    }

.action .fa-edit {
    color: #c7c7c7;
}

    .action .fa-edit:hover {
        color: #005597;
    }

.action .fa-trash {
    color: #c7c7c7;
}

    .action .fa-trash:hover {
        color: #a21c23;
    }

.copy-text {
    text-align: center;
    font-size: 12px;
    color: #999;
}

.box-shadow-white-bg {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* 31-10-2019 */

.agree_check label {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.terms_and_conditions .modal-header .modal-title {
    font-size: 18px;
    text-transform: uppercase;
}

.terms_and_conditions .modal-header {
    padding: 5px 15px;
}

    .terms_and_conditions .modal-header .close {
        color: #fff;
        opacity: 1;
        padding: 0 0;
        margin: -2px -10px 0 0;
    }

.agree_check .form-group {
    position: relative;
    /* margin: 3rem 0 0; */
}

.agree_check input[type="checkbox"] {
    display: none;
}

.agree_check .form-check label {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    padding-left: 29px;
}

    .agree_check .form-check label:before,
    .agree_check .form-check label:after {
        content: '';
        position: absolute;
    }

    .agree_check .form-check label:before {
        left: 0;
        top: 2px;
        height: 18px;
        width: 18px;
        border: 1px solid #828282;
        border-radius: 3px;
    }

    .agree_check .form-check label:after {
        left: 3px;
        top: 6px;
        height: 6px;
        width: 12px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transform: rotate(-45deg) scale(0);
        -ms-transform: rotate(-45deg) scale(0);
        transform: rotate(-45deg) scale(0);
        transition: all .3s linear;
    }

.agree_check .form-check input:checked + label::before {
    background: #1569b5;
    border-color: #1569b5;
}

.agree_check .form-check input:checked + label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.data_table table.dataTable thead th,
.data_table table.dataTable thead td {
    background-color: #dedede;
    padding: 6px 15px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.data_table .report-h2 {
    background: #1569b5;
    color: #fff;
    margin: 30px 10px -10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.17);
    position: relative;
    top: -20px;
    padding: 15px 15px;
    font-size: 20px;
}

.data_table table.dataTable tbody td {
    padding: 8px 10px;
    border: 1px solid #eee;
    border-left: 0;
}

.data_table {
    border-radius: 5px;
}

.main_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.data_table .table thead th {
    border-bottom: 1px solid #dee2e6;
}

.data_table .table thead td {
    border-bottom: 1px solid #dee2e6;
}

.right-section {
    position: relative;
    padding-bottom: 50px;
    height: auto;
    min-height: 88vh;
    /* 21,jan2020  */
}


/* end 31-10-2019 */


/* 8-11-2019 */

body {
    overflow-x: hidden;
}

.navbar {
    padding: .1rem 1rem;
}

nav.bg-custom form.form-inline {
    margin: 0;
}

    nav.bg-custom form.form-inline .logout-text {
        background: transparent;
        border: 0;
        padding: 0;
    }

nav.bg-custom ul.navbar-nav {
    -webkit-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.logo {
    width: 70px;
}

#sidebar {
    width: 230px;
    display: flex;
    height: calc(100% - 75px);
    background: #1569b5;
    position: fixed;
    top: 75px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    left: 0;
    overflow: hidden auto;
}

.report-head {
    font-size: 16px;
    background: #1569b5;
    color: #fff;
    padding: 10px 13px;
    border-radius: 5px 5px 0 0;
    margin: 0px;
    border-top: 4px solid #ff6004;
}

.view-more {
    font-size: 13px;
    color: #ff9b61;
    margin: 2px 0 0 0;
}

.toggled #sidebar {
    left: -290px;
}

.welcome-text {
    padding-top: 0;
}

.advertisement h3 {
    font-size: 18px;
    color: #000;
    margin: 16px 0 10px 0;
}

.data_table .table tbody td {
    padding: 2px 10px;
    font-size: 14px;
}

.data_table {
    min-height: 212px;
}

.advertisement img {
    width: 100% !important;
}


/* end 8-11-2019 */

.pd-05 {
    padding: 0.5rem;
}

.pd-1 {
    padding: 1rem;
}

.pd-2 {
    padding: 2rem;
}

.btn-blue-box {
    justify-content: space-between;
    border: 1px solid #fff;
    font-size: 12px;
    /*margin: 5px;*/
    padding: 15px 5px;
    background: #6da6dd;
    display: inline-flex;
    max-width: 170px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    min-height: 50px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

a.btn.btn-blue-box:hover {
    color: #fff;
    background: #1569b5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.profile-data table td:first-child {
    font-size: 16px;
}

.profile-data .dtr-inline.table td:first-child {
    text-align: center;
}

.credit-wrapper {
    max-width: 350px;
    margin: 5px auto;
    border: 1px solid #ddd;
    padding: 15px;
    background: #f7f5f5;
}


/*14,Jan2020*/

div#result .zoom a {
    display: block;
}

div#result .zoom {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 10px;
}

div#result img {
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

div#result .zoom a#edit,
div#result .zoom a#delete {
    display: inline-block;
}

.Pager .page {
    padding: 0 5px;
    width: auto;
    border-radius: 5px;
    border: 1px solid #bcd4ea;
    color: #fff !important;
    background: #6c757d;
}

.in-wrap {
    border: 1px solid #ddd !important;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

    .in-wrap + h5 {
        margin: 30px 0 20px;
    }

.d-inline-block {
    width: auto;
}


/*End*/


/* NewConversation CSS 20,Jan2020 */

.btn.btn-orange-outline {
    color: #ff6004;
    border: 2px solid #ff6004;
    border-radius: 50px;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    padding-left: 15px;
    padding-right: 15px;
}

    .btn.btn-orange-outline:hover {
        background: #ff6004;
        color: #fff;
        border: 2px solid transparent;
    }

.white-box {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #fbfbfb;
}

table.new-conv-tbl {
    font-size: 14px;
}

table.new-conv-tbl {
    width: 100%;
}

    table.new-conv-tbl.table-hover tbody tr:hover {
        color: #000;
        background-color: #fff;
    }

    table.new-conv-tbl th:last-child {
        text-align: center;
    }

.text-grey {
    color: #717171;
}

.wrapper-in {
    padding: 10px 10px 10px 0;
}

    .wrapper-in .fa {
        font-size: 18px;
        padding: 5px;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
    }

    .wrapper-in a .fa:hover {
        border: 1px solid #ddd;
        border-radius: 5px;
    }

.bold {
    font-weight: 700;
}

.f12 {
    font-size: 12px;
}

.f16 {
    font-size: 16px;
}

.max-345 {
    max-height: 345px;
    border-radius: 5px 0 0 5px;
    overflow: auto;
}

.new-conversation {
    background: #fff;
}

body.new-conversation .text-primary {
    color: #1569b5 !important;
}


/* ----------------------------------------------- Custom Checkbox ----------------------------------------------- */

.custom-check {
    display: none;
}

    .custom-check + label {
        color: #333;
        font-size: 14px;
        position: relative;
        margin: 0;
        padding-left: 30px;
        font-weight: bold;
    }


        .custom-check + label:before {
            width: 20px;
            height: 20px;
            position: absolute;
            content: "";
            border: 2px solid #ddd;
            left: 0;
            top: 0;
            transition: all 0.3s;
            background: #fff;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            cursor: pointer;
        }

    .custom-check:checked + label:before {
        background: #1569b5;
        border-color: #1569b5;
    }

    .custom-check + label:after {
        width: 12px;
        height: 7px;
        position: absolute;
        content: "";
        transition: all 0.3s;
        left: 4px;
        border: 2px solid transparent;
        transform: rotate(0deg);
        top: 4px;
    }

    .custom-check:checked + label:after {
        border-left-color: #fff;
        border-bottom-color: #fff;
        transform: rotate(-45deg);
    }


/* ----------------------------------------------- Custom Checkbox ----------------------------------------------- */


/* end NewConversation CSS */

@media(max-width:767px) {
    .right-section {
        width: 98%;
        margin-left: 0px;
        margin-top: 100px;
        padding: 0 15px;
    }

    #sidebar {
        z-index: 2;
        top: 108px;
    }

    a.navbar-brand {
        margin-right: auto;
        margin-left: 0;
    }

    .toggled .right-section {
        margin-left: 0;
    }

    sidebar ul li a {
        font-size: 14px;
        padding: 10px 5px 10px 15px;
        margin: 10px 0;
    }

    div#navbarSupportedContent {
        border-top: solid 1px rgba(204, 204, 204, 0.3);
        width: 100%;
        text-align: center;
        padding-top: 7px;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .dataTables_paginate.paging_simple_numbers {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .report-h2 {
        margin: 0px;
        padding: 20px 0px 60px 20px;
        text-align: center;
    }

    .dataTables_filter label input {
        width: 300px;
        position: absolute;
        top: 0px;
        left: -27px;
    }

    .dataTables_filter .fa-search {
        z-index: 91;
        position: absolute;
        right: 32px;
        top: 7px;
        color: #ccc;
    }

    .w-40 {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .wrapper-in {
        padding: 15px;
    }

    .mob-mb-2 {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 328px) {
    .welcome-text {
        font-size: 14px;
    }
}


/*25-11-2019*/

.content-top {
    padding-top: 150px;
}

.cst-button {
    border-radius: 20px !important;
    padding: 10px !important;
    width: 70%;
    background-color: #00558c !important;
    font-weight: bold !important;
    margin-bottom: 20px;
}

.cst-closebutton {
    border-radius: 20px !important;
    padding: 10px !important;
    width: 70%;
    font-weight: bold !important;
    margin-bottom: 20px;
}

.cst-spacing {
    padding-right: 30px;
}

.cst-width {
    width: 15%;
}

.mt-right {
    margin-right: 30px;
}

.txt-clr1 {
    color: #00558c;
}


/*15,Jan2020*/

input:-webkit-autofill {
    background-color: red !important;
}

div#loginalert {
    margin-bottom: 2rem;
}

#login1 .form-group,
#accountguest .form-group {
    margin-bottom: 2rem;
}

#login1 .form-control:focus + label,
#login1 .form-control.active + label,
#accountguest .form-control:focus + label,
#accountguest .form-control.active + label {
    top: -15px !important;
}

div#img_contain.img-thumb-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

    div#img_contain.img-thumb-container a {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 10px 5px;
    }

@media screen and (max-width: 767px) {
    #btnGuestPay {
        width: 100%;
        margin: 20px auto;
    }

    .content-top {
        margin-top: 30px;
    }
}


/** image upload css start **/

.upload-image-col,
.cst-image-col {
    padding: 20px;
}

.cst-image-col {
    margin-top: 20px;
    display: table;
    width: 100%;
}

#img_contain {
    width: 15%;
    float: left;
    height: auto;
    margin-right: 15px;
    margin-bottom: 10px;
}

    #img_contain img {
        width: 100%;
        height: auto;
    }

.upload-image-col .pay,
.cst-btn-col .pay {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #ff6004;
    border-radius: 20px;
    min-width: 150px;
    text-align: center;
    text-transform: uppercase;
    color: #ff6004;
    font-weight: 500;
    margin: 32px 0 0;
    float: right;
}

    .upload-image-col .pay:hover,
    .cst-btn-col .pay:hover {
        background: #ff6004;
        border-color: transparent;
        color: #fff;
    }

.upload-image-col .custom-file-input {
    cursor: pointer;
}

.img-show {
    width: 100%;
    display: block;
}

.cst-pagination {
    float: right;
    margin: 10px 0 0;
}

    .cst-pagination li {
        text-align: center;
        margin-right: 10px;
    }

        .cst-pagination li a {
            color: #999;
            text-decoration: none;
            width: 30px;
            height: 30px;
            padding-top: 5px;
            font-size: 13px;
        }

    .cst-pagination .page-item:first-child .page-link,
    .cst-pagination .page-item:last-child .page-link,
    .cst-pagination .page-item.active .page-link {
        width: 30px;
        height: 30px;
        padding-top: 5px;
    }

    .cst-pagination .page-link:hover {
        color: #fff;
        background: #1668b6;
        border-color: #1668b6;
    }

.cst-btn-col .pay {
    float: none;
}

.cst-btn-col .cancel-btn {
    margin-left: 15px;
}

.cst-btn-col .cancel-btn {
    border: 2px solid #b8b8b8;
    color: #868686;
}

    .cst-btn-col .cancel-btn:hover {
        background: #868686;
        border-color: transparent;
        color: #fff;
    }

@media(max-width:1286px) {
    .upload-image-col .pay {
        min-width: auto;
        padding: 5px 20px;
    }
}

@media(max-width:990px) {
    .upload-image-col .pay {
        float: left;
        min-width: 100px;
    }
}

@media(max-width:767px) {
    .main-heading {
        font-size: 18px
    }

    #img_contain {
        width: 48%;
        margin: 0 1%;
    }

    .upload-image-col .pay {
        font-size: 13px;
    }

    .cst-btn-col .pay,
    .cst-btn-col .cancel-btn {
        min-width: 100px;
        font-size: 13px;
    }
}


/** image upload css end **/
.col-md-6.pt-left {
    padding-left: 21px !important;
    line-height: 20px !important;
}

#fullmsg {
    padding-left: 16px;
    padding-top: 10px;
}

.col-md-10.pt-left {
    padding-left: 30px;
}

.cst-fix-icon {
    position: absolute;
    right: -5px;
    float: right;
}

.new-conv-tbl label {
    color: #212509;
    font-weight: normal;
    font-size: 15px;
}

.cst-icon-tr {
    font-size: 22px !important;
    color: #eb2e40 !important;
    text-align: center;
}

.cst-100 {
    width: 100%;
    box-shadow: 1px 1px 10px #d1c9c9;
    padding: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
    .cst-icon-res {
        position: absolute !important;
        font-size: 15px;
        right: 0;
        cursor: pointer;
        left: 69% !important;
    }

    .card-body {
        padding: 20px 10px;
    }

        .card-body ul {
            padding: 0;
        }

        .card-body li {
            min-width: 100%;
        }
}

.card-body li {
    display: inline-block;
    float: none;
    min-width: 250px;
    width: auto;
}

    .card-body li input {
        float: left;
        padding: 10px;
        display: inline-block;
        position: relative;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 28px;
        margin-right: 10px;
    }
