html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {

    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    background: #6cf;
}