@import url('style.css');
body{

	/*overflow:hidden;*/
}

.cstm-brd{
	height:auto;
	border-right:8px solid #ff6004;
}
.wrapper {
    min-height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.cstm-bx2{
	width: 100%;
	
	box-shadow: 5px 10px 8px 10px #ececec;

}
	.login-box-right{

	
	background-color:#00558c;
}

/*.logo{

	padding-top:10px;
}*/

.cstm-fr{

	padding:15px;
}
.cstm-fr input{
	border-top: none;
    border-right: none;
    border-left: none;
    padding-right: 33px;

}
}
.cstm-bk{

	background-image:url(img/right-2.jpg);
	width:100%;
	height:100%;

}
.box-1{

	margin:0 auto;
	position: relative;
}
.fg-pd{

	padding-left:0px;

}
.btn-danger {
    border-radius: 20px !important;
    padding: 12px !important;
    width: 70%;
    margin-top: 60px;
    margin-left: 10%;
    background-color: #c82333!important;
    font-weight: bold !important;
}
.btn-sm{

	border-radius:20px !important;
    padding: 12px !important;
    width: 70%;
    margin-top: 60px;
    margin-left: 10%;
    background-color: #00558c !important;
    font-weight:bold !important;
}
.icn{

	position: absolute;
    right: 0;
    top: 42%;
    color:#c4c4c4;
}
.icn1{

	position: absolute;
    right:0;
    top: 40%;
    color:#c4c4c4;
    font-size:19px !important;
}

.cst-chk{

	height: 17px;
    width: 16px;
    padding-left:20px;
}
.cstm-lbl-fix{

	padding-left:20px;
}
/*.pad-top{

	padding-top:90px;
	color:#7a7979;
	font-size:15px;
}*/

.fg-pd1{

	color: #555 !important;
    font-size: 14px !important;
    text-decoration: none !important;
}

.box-1{

	width:85%;
}

.footer-psize{

    font-size:12px;
}
/*.cstm-box{

    width:750px;
    height:40%;
}*/

.fg-pd1:hover{


    color:#ff6004 !important;
}

.btn-sm:hover{

    background-color:#1b609c !important;
    color:#fff;
}


.form-group {
    position: relative;
}
.form-group label {
    /*position: absolute;*/
    top: 4px;
    left: 0;
    transition: all 0.2s linear;
    margin: 0;
}

.form-control:focus + label, .form-control.active + label {
    top: -15px !important;
}
input.form-control:focus{
    box-shadow: 0 0 0;
    outline: 0;
}
.form-group {
    margin-bottom: 1.25rem;
}
/*forgot password */


.fg-pd-top{


    margin-top:30px;

}

.fg-txt{

        color: #747171;
        padding-top:10px;
}
.btn-forgot{


    border-radius: 20px !important;
    padding: 12px !important;
    width: 70%;
    margin-top:10px;
    margin-left: 10%;
    background-color: #00558c !important;
    font-weight: bold !important;
}
.btn-sm2{

border-radius: 20px !important;
    padding: 12px !important;
    width: 70%;
    margin-top:10px;
    margin-left: 10%;
    background-color: #00558c !important;
    font-weight: bold !important;

}
.cstm-regis{

    padding-top:0px;
    font-weight:bold;
     color: #747171;
}
.cstm-cgpd{

    box-shadow: 5px 10px 8px 10px #ececec;
    width:100%;
}
/*.details-control::before{
    top: 9px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #31b131;
}
details-control::before{
    content: '-';
    background-color: #d33333;
}*/
.mt-20{

    margin-top:30px;
}
.btn-primary {
    color: #fff !important;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-sm1{

    border-radius: 20px !important;
    padding: 12px !important;
    width: 100%;
    margin-top: 30px;
      background-color: #00558c !important;
    font-weight: bold !important
}
.btn-sm2:hover{
background-color:#1b609c !important;
    color:#fff;

}

.cstm-wth{

    width:35%;
}
.fm-1{

   
    padding:5rem 15px 0px 15px;
/*15,Jan2020  65px to 5rem*/
   
}
.cstm-pn li {



    list-style-type:none;
    text-decoration:none;
    float: left;
    margin: 0 10px;
   

}
.cstm-pn li a{



    
    text-decoration:none;
    text-decoration-line: none;
    font-size:18px;

   

}
.nav-tabs {
    border-bottom: none !important;
}

.fade:not(.show) {
    opacity: 1 !important;
}

.tab-pn{

    width: 100%;
    float: left;
    padding: 10px 0px 0px 0px;
    margin-left: -20px;
     position: relative;
    z-index: 999999
}

.cstm-cr{

    color:#8dafcd;

}




.nav-tabs .active{


    border-bottom:2px solid #00aeef;
    color: #007bff;
    /*font-weight:bold;*/
}
.active1{

     border-bottom:2px solid #00aeef;
     width: 100px;
}
.cst-lft-25{

    padding-left:25px !important;
}
.cstm-blk{


    padding-top:30px;
}
.regis {
    height: 200px;
}


.active .cstm-cr{

    color: #1b609c !important;
}


.active .clr-1{

    color: #1b609c !important;
}

.clr-1{

    color:#8dafcd;
}

button.btn-home-page {
    background: #00548c;
    border-radius: 28px;
    padding: 12px 40px;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px rgba(0, 84, 140, 0.3);
}

button.btn.btn-orange {
    background-color: #ff6004;
    color: #fff;
}

@media screen and (max-width: 767px){

	.cstm-brd{
	

	border-right:0px solid #ff6004;
}

.cst-lft-25{

    padding-left:33px !important;
}
.box-1{

	width:100%;
}
.cstm-mb-bg{

	display:none;
}

.icn{

	position: absolute;
    right:0;
    top: 43%;
    color:#c4c4c4;
}
.icn1{

	position: absolute;
    right:0;
    top: 48%;
    color:#c4c4c4;
    font-size:19px !important;
}
.cst-lft-25 li {

    margin-left:15px;
}

}

