﻿.amountfailure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}

.failure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    display: none;
}

.zoom {
    transition: transform .2s;
    margin-left: 55px;
}

.zoom-sm {
    transition: transform .2s;
    margin-left: 55px;
}

.Pager span {
    text-align: center;
    color: #333;
    display: inline-block;
    width: 20px;
    background-color: #B8DBFD;
    margin-right: 3px;
    line-height: 150%;
    border: 1px solid #B8DBFD;
}

.Pager a {
    text-align: center;
    display: inline-block;
    width: 20px;
    background-color: #ccc;
    color: #333;
    border: 1px solid #ccc;
    margin-right: 3px;
    line-height: 150%;
    text-decoration: none;
}


.thumbnail {
    height: 92px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 107px;
    padding: 5px;
}


/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}