﻿@using Spidrs.Dto.ViewModels

@model DriverVmEdit

<body>
    <div class="right-section">
        <div class="alert-box success" style="display:none;margin-top: 88px;">Mail sent successfully!</div>
        <div class="alert-box failure" style="display:none;margin-top: 88px;">The mail has not been sent.</div>
        <div class="row">
            <div class="col-md-12">


            
                <form id="registerForm" method="post">
                    <h2>Edit User</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     <div class="row">
                        <div class="col-md-12">
                          <div class="card border-primary ">
                            <div class="card-header">Basic Information</div>
                            <div class="card-body ">
                                 <div class="row">
                        <div class="col-sm-6 form-floating py-2">
                            <label asp-for="FirstName">First Name</label>
                            <input asp-for="FirstName" class="form-control" aria-required="true" />

                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-floating py-2">
                            <label asp-for="LastName">Last Name</label>
                            <input asp-for="LastName" class="form-control" aria-required="true" />

                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-floating py-2">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />

                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-floating py-2">
                            <label asp-for="PhoneNumber">Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control" aria-required="true" />

                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                                <div class="col-sm-6 form-floating py-2">
                                    <label asp-for="StreetAddress">Street Address</label>
                                    <input asp-for="StreetAddress" class="form-control" aria-required="true" />

                                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 form-floating py-2">
                                    <label asp-for="City"></label>
                                    <input asp-for="City" class="form-control" aria-required="true" />

                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                 <div class="col-sm-6 form-floating py-2">
                            <label asp-for="PostalCode">Postal Code</label>
                            <input asp-for="PostalCode" class="form-control" aria-required="true" />

                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                                 </div>

                   
                            </div>
                              <div class="row my-0">
                        <div class="col-md-12">
                        
                            <div class="card-header">User Access</div>
                                <div class="card-body">
                                     
                    <div class="row">
                          <div class="col-sm-6 form-floating py-2">
                            <label asp-for="Role">Role</label>
                            <select asp-for="Role" asp-items="@Model.RoleList" class="form-select form-control">
                                <option disabled selected>Select Role</option>
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                       @* <div class="col-sm-6 form-floating py-2">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />

                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-floating py-2">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />

                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>*@
                       
                      
                    </div>
                   
                    
                                </div>
                           
                           </div>
                    </div>
                          </div><!-- /.card -->
                        </div>
    
                    </div><!-- /.row -->

                   
                    <div class="row">
                        <div class="col-10"></div>
                        <div class="col-2 d-flex">
                            <a href="/Admin/User/Index" id="backButton" type="button" class="w-50 btn  btn-danger float-right mt-2 ">Back</a>
                            <button id="registerSubmit" type="submit" class="w-50 btn  btn-primary float-right mt-2 btn-sm">Save</button>
                        </div>
                    </div>
                    
                </form>




            </div>
        </div>

    </div>

</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
